@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}



body {
    background-color: black;
    color: #9fa4a8;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

section {
    padding: 30px 0;
}



h1 {
    font-family: 'Aclonica', sans-serif;
    font-size: 8vw;
    color: white;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Aclonica', sans-serif;
    padding: 20px;
}

p {
    text-align: center;
}

img:hover {
    transform: scale(1.05);
    transition: 1s;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    font-size: min(24px, 2vw);
    flex-wrap: nowrap;
    transition: height 0.6s linear;
    position: absolute;
    top: 0;
}

#logo {
    display: flex;
    width: 20vw;
    max-width: 250px;
    height: auto;
}

.navbar-links {
    flex-grow: 2;
    padding: 0 20px;
}

.navbar-links ul {
    display: flex;
    justify-content: space-around;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar-links li a:hover {
    color: #eebe28;
}

.icon {
    background-color: black;
    border: 0;
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: none;
    position: absolute;
    top: 2rem;

}

.icon:focus {
    outline: 0;
}

.icon .line {
    background-color: white;
    height: 3px;
    width: 30px;
    position: absolute;
    top: 10px;
    transition: transform 0.6s linear;
}

.icon .line2 {
    top: auto;
    bottom: 10px;
}

nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
    transition: 1s ease;

}

nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
    transition: 1s ease;
}

.socials {
    padding-left: 20px;
}
.socials i {
    flex-grow: 1;
    padding: 0 10px;
    font-size: 2vw;
    color: #eebe28;
}

.socials i:hover {
    color: #eebe28;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button {
    border: 2px solid #eebe28;
    background-color: transparent;
    color: #eebe28;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
    z-index: 1;
}

.buttons button:hover {
    background-color: #eebe28;
    color: #333;
}

.home video {
    display: none;
    z-index: -1;
    width: 100%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 0;
    height: 100vh;
}

.home p {
    color: #eebe28;
    font-size: 2vw;
    font-weight: 700;
}

.home h1 {
    letter-spacing: 3px;
}

.home h1 span:nth-of-type(1) {
    display: inline-block;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}

.home h1 span:nth-of-type(2) {
    display: inline-block;
    padding-right: 1rem;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.8s;
}

.home h1 span:nth-of-type(3) {
    display: inline-block;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.9s;
}

.text-block {
    position: absolute;
    bottom: 10%;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    text-align: center;
}

.about {
    background-color: black;
    color: #ffffffa6;
    display: flex;
    align-items: center;
    height: 100vh;
}

.mobile-img {
    display: none;
}

.about h2 {
    padding-bottom: 20px;
}

.about div {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.about-image {
    max-width: 60%;
}

.timetable {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    background-color: black;
}
.timetable-image {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
}

.timetable-image:nth-child(2) img {
    width: 200%;
}

.timetable-image:nth-child(2)  {
    flex-direction: column;
    flex-grow: 1.5;
    object-fit: contain;
}

.timetable-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.faq-background {
    display: flex;
    background-color: black;
    padding: 50px 0;
}

.faq-container {
    margin: 0;
    width: 50%;
}

#faq-image {
    max-width: 100%;
    padding: 20px;
}

.faq {
    color: #9fa4a8;
    background-color: transparent;
    border: 1px;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

h3.faq-title {
    font-size: 16px;
}

.faq.active {
    background-color: #fff;
    color: black;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);

}

.faq.active::before, .faq.active::after {
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    color: #eebe28;
    font-size: 50px;
    position: absolute;
    opacity: 0.2;
    top: 30px;
    left: 40px;
    z-index: 0;
}

.faq.active::before {
    color: #d60c21;
    top: 10px;
    left: 20px;
    transform: rotateY('180deg');
}

.faq-title {
    margin: 0 35px 0 0;
}

.faq .fas {
    color: #9fa4a8;
}

.faq-text {
    display: none;
    margin: 30px 0 0;
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0; 
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.faq-toggle:focus {
    outline: 0;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    display: block;
    color: black;
}

.faq.active .faq-toggle .fa-hand-point-down {
    display: none;
}

.faq.active .faq-toggle {
    background-color: #9fa4a8;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.contacts {
    height: 60%;
}

.contact-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact-details a {
    color: #eebe28;
}

.contact-details a:nth-of-type(2) {
    color: #d60c21;
}
.contact-details a:nth-of-type(3) {
    color: #4267B2;
}

.contact-details a:nth-of-type(4){
    color: #C13584;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location p {
    padding-bottom: 20px;
}

.map {
    align-content: center;
}

@media only screen and (max-width: 500px) {
    section {
        padding: 20px 0;
    }
    
    .navbar {
        justify-content: space-between;
        flex-direction: column;
        background: transparent;
        font-size: 8vw;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }

    .icon {
        display: block;
        background-color: transparent;
    }

    .home {
        justify-content: flex-start;
        height: auto;
    }

    
    .home h1{
        letter-spacing: normal;
        font-size: 40px;
    }

    .home p {
        font-size: 16px;
    }

    #video {
        display: inline;

    }

    .text-block {
        background-color: transparent;
        bottom: 30%;
    }
    
    .text-block span:last-of-type{
        display: block;
    }

    .about div {
        padding: 10px;
    }

    .about {
        height: fit-content;
    }

    .about p {
        display: inline-block;
    }

    .mobile-img {
        display: flex;
        max-width: 100%;
        padding-bottom: 20px;
    }
    .timetable-image {
        padding: 0;
    }
    
    .socials, .navbar-links, img#faq-image, .location h2, .timetable-image.hide, .slider, .home .buttons, #logo, .about-image img{
        display: none;
    }

    #intro {
        max-width: 100%;
    }
    .about, .faq-background, .timetable, .contact {
        flex-direction: column;
    }
    .timetable-image {
        padding: 10px;
    }
    .faq-container {
        width: 100%;
    }
    .contact {
        align-items: center;
        height: auto;
    }
    .contact a {
        padding: 20px;
        text-align: center;
    }
    .location p {
        padding: 20px;
    }
   
    .map {
        max-width: 100%;
        object-fit: contain;
        padding: 10px;
    }

}

@media only screen and (max-width: 900px) {
    .contact {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100px);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide:first-child {
    background: url('images/northsouth1.jpg') no-repeat center center/cover;
}

.slide:nth-child(2) {
    background: url('images/group2-bw.jpg') no-repeat center center/cover;
}

.slide:nth-child(3) {
    background: url('images/group3.jpg') no-repeat center center/cover;
}

.slide:nth-child(4) {
    background: url('images/group1-bw.jpg') no-repeat center center/cover;
}

.slide:nth-child(5) {
    background: url('images/northsouth2.jpg') no-repeat center center/cover;
}

.slide:nth-child(6) {
    background: url('images/ns1-bw.jpg') no-repeat center center/cover;
}

.slide:nth-child(6) {
    background: url('images/gym.jpg') no-repeat center center/cover;
}

.slide:nth-child(6) {
    background: url('images/gym2-bw.jpg') no-repeat center center/cover;
}